name: main

on:
  - push
  - pull_request
jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16
    
    - name: go mod tidy
      run: go mod tidy

    - name: Build
      run: go build -v ./...

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: go mod tidy
      run: go mod tidy

    - name: install richgo
      run: go install github.com/kyoh86/richgo@latest

    - name: Test
      run: richgo test ./...